<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"  content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>Side Menus</title>
	<script src="js/jquery-2.1.1.min.js"></script>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/angular-ios9-uiwebview.patch.js"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
<body ng-controller="MainCtrl">
<ion-nav-view></ion-nav-view>
<script id="templates/event-menu.html" type="text/ng-template">
  <ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
	  <ion-nav-bar class="header-bar">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
		  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		  </button>
		</ion-nav-buttons>
	  </ion-nav-bar>

	  <ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content> 

	<ion-side-menu side="left">
	  <ion-header-bar class="bar-assertive">
		<h1 class="title">Menu</h1>
	  </ion-header-bar>
	  <ion-content>
		<ul class="list">
		  <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
		  <a href="#/event/check-in" class="item item-icon-left" menu-close><i class="icon ion-home"></i>Home</a>
		  <a href="#/event/monitoring" class="item item-icon-left" menu-close><i class="icon ion-person"></i>About</a>
		  <a href="#/event/attendees" class="item item-icon-left" menu-close><i class="icon ion-android-apps"></i>Services</a>
		  <a href="#/event/setting" class="item item-icon-left" menu-close><i class="icon ion-android-pin"></i>Contact us</a>
		  <a ng-click="logout()" class="item item-icon-left" menu-close><i class="icon ion-log-in"></i>Sign in</a>
		</ul>
	  </ion-content>
	</ion-side-menu>

  </ion-side-menus>
</script>

<script id="templates/home.html" type="text/ng-template">
  <ion-view view-title="Welcome">
	<ion-content class="padding">
	  <p>Swipe to the right to reveal the left menu.</p>
	  <p>(On desktop click and drag from left to right)</p>
	</ion-content>
  </ion-view>
</script>

<script id="templates/check-in.html" type="text/ng-template">
  <ion-view view-title="Home">
	<ion-content>
	  <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="true" does-continue="true">
          <ion-slide>
            <div id="logo">
              <img src="images\slider\bg1.jpg" style=" height:100%; width:100%;">
            </div>
            <p style="text-align:center; color:#FFF; margin-top:-300px; font-size:16px;">
              Welcome to <strong>TruHome</strong>
			<p style="text-align:center; color:#FFF; font-size:16px;">The Premier Source For Home Automation Professionals.</p>
			</p>
          </ion-slide>
          <ion-slide>
            <div id="logo">
              <img src="images\slider\bg2.jpg" style=" height:100%; width:100%;">
            </div>
            <p style="font-weight:bold; text-align:center; color:#FFF; margin-top:-280px; font-size:16px; text-align-center;">
              Find Your Smart Home Pro Today
            </p>
          </ion-slide>
          <ion-slide>
            <div id="logo">
              <img src="images\slider\bg3.jpg" style=" height:100%; width:100%;">
			</div>
            <p style="font-weight:bold; text-align:center; color:#FFF; margin-top:-280px; font-size:16px; text-align-center;">
              Connect Your Wearable Devices to Your Smart Home
            </p>
          </ion-slide>
        </ion-slide-box>
	</ion-content>
  </ion-view>
</script>

<script id="templates/attendees.html" type="text/ng-template">
  <ion-view view-title="Event Attendees">
	<ion-content>
	  <div class="list">
		<ion-toggle ng-repeat="attendee in attendees | orderBy:'firstname' | orderBy:'lastname'"
					ng-model="attendee.arrived"
					ng-change="arrivedChange(attendee)">
		  {{ attendee.firstname }}
		  {{ attendee.lastname }}
		</ion-toggle>
		<div class="item item-divider">
		  Activity
		</div>
		<div class="item" ng-repeat="msg in activity">
		  {{ msg }}
		</div>
	  </div>
	</ion-content>
  </ion-view>
</script>

</body>
<script>
angular.module('ionicApp', ['ionic','ngCordova','ngIOS9UIWebViewPatch'])

.config(function($stateProvider, $urlRouterProvider) {

  $stateProvider
    .state('eventmenu', {
      url: "/event",
      abstract: true,
      templateUrl: "templates/event-menu.html"
    })
    .state('eventmenu.home', {
      url: "/home",
      views: {
        'menuContent' :{
          templateUrl: "templates/home.html"
        }
      }
    })
    .state('eventmenu.checkin', {
      url: "/check-in",
      views: {
        'menuContent' :{
          templateUrl: "templates/check-in.html",
          controller: "CheckinCtrl"
        }
      }
    })
    .state('eventmenu.attendees', {
      url: "/attendees",
      views: {
        'menuContent' :{
          templateUrl: "templates/attendees.html",
          controller: "AttendeesCtrl"
        }
      }
    })
  
  $urlRouterProvider.otherwise("/event/check-in");
})

.controller('MainCtrl', function($scope, $ionicSideMenuDelegate) {
  $scope.attendees = [
    { firstname: 'Nicolas', lastname: 'Cage' },
    { firstname: 'Jean-Claude', lastname: 'Van Damme' },
    { firstname: 'Keanu', lastname: 'Reeves' },
    { firstname: 'Steven', lastname: 'Seagal' }
  ];
  
  $scope.toggleLeft = function() {
    $ionicSideMenuDelegate.toggleLeft();
  };
})

.controller('CheckinCtrl', function($scope) {
  $scope.showForm = true;
  
  $scope.shirtSizes = [
    { text: 'Large', value: 'L' },
    { text: 'Medium', value: 'M' },
    { text: 'Small', value: 'S' }
  ];
  
  $scope.attendee = {};
  $scope.submit = function() {
    if(!$scope.attendee.firstname) {
      alert('Info required');
      return;
    }
    $scope.showForm = false;
    $scope.attendees.push($scope.attendee);
  };
  
})

.controller('AttendeesCtrl', function($scope) {
  
  $scope.activity = [];
  $scope.arrivedChange = function(attendee) {
    var msg = attendee.firstname + ' ' + attendee.lastname;
    msg += (!attendee.arrived ? ' has arrived, ' : ' just left, '); 
    msg += new Date().getMilliseconds();
    $scope.activity.push(msg);
    if($scope.activity.length > 3) {
      $scope.activity.splice(0, 1);
    }
  };
  
});
</script>
</html>